@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$borderRadius: 5px;

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display:block;
}

.h5p-category-task {
  font-family: "Open Sans", sans-serif;
}

.h5p-category-task-surface-main {
  @extend .h5p-category-task;
  margin: 0.6rem;
}

.h5p-category-task-button {
  @extend .h5p-category-task;
  border: 0;
  border-radius: 90px;
  color: white;
  padding: 0.7rem 1rem;
  font-weight: bold;
}

.h5p-category-task-button-restart,
.h5p-category-task-button-export,
.h5p-category-task-reset-modal .continue {
  @extend .h5p-category-task-button;
  background-color: #1f1f1f;
  border: 2px solid #404040;

  &:hover {
    background-color: #363636;
    color: inherit;
  }

  &:focus {
    color: inherit;
  }

  &:active {
    background-color: #000000;
    color: inherit;
  }
}

.h5p-medium-tablet-size,
.h5p-large-tablet-size,
.h5p-large-size {
  .h5p-category-task-footer {
    flex-direction: row;
  }

  .h5p-category-task-surface {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .h5p-category-task-summary,
  .h5p-category-task-category-default {
    width: 100%;
  }

  .h5p-category-task-pro,
  .h5p-category-task-against {
    width: 49%;
    margin-top: 1rem;
  }

  .h5p-category-task-column {
    flex: auto;
  }

  #unprocessed {
    width: 100%;
    display: flex;
    justify-content: center;

    & > div {
      width: 100%;
      display: flex;
    }
  }
}

.h5p-large-tablet-size,
.h5p-large-size {
  &.h5p-category-task-popover {
    width: 100%;
    max-width: 31.25em;
  }

  .h5p-category-task-surface-main {
    margin: 1.5rem;
  }

  .h5p-category-task-argument-container > div {
    display: flex;
  }

  .h5p-category-task-pro,
  .h5p-category-task-against {
    .h5p-category-task-header-argument-add {
      display: flex;
      align-items: center;
      cursor: pointer;

      :not(.fa){
        display: block;
        text-decoration: underline;
      }

      .fa {
        font-size: 0.8rem;
        margin-right: 0.4rem;
      }
    }
  }
}

.h5p-category-task-column{
  padding: 0 1rem;
}

.h5p-category-task-surface {
  clear: both;
}

.h5p-category-task-wrapper {
  textarea,
  input,
  button {
    font: inherit;
  }
}

.h5p-category-task-header {
  background-color: #2880d0;
  display: flex;
  margin: 0;
  align-items: center;
  padding: 1.3125rem;
  color: #ffffff;
  font-weight: normal;
  font-size: 1.25rem;
}

#resources-button {
  margin-left: auto;
}

.h5p-category-task-surface-info {
  display: flex;
  align-items: flex-start;

  .h5p-resource-list-wrapper {
    margin-bottom: 0.625rem;
    margin-left: auto;
  }
}

.h5p-category-task-argument-common {
  padding: 0.25rem;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.h5p-category-task-argument-list {
  .h5p-category-task-draggable-element {
    border: 2px dashed #cfcfcf;
    padding: 0.3125rem;
    border-radius: $borderRadius;
  }

  .h5p-category-task-argument-container, .h5p-category-task-argument-container:hover {
    box-shadow: none;
  }
}

.h5p-category-task-argument {
  @extend .h5p-category-task-argument-common;
  background-color: #f6f8f9;
  min-height: 2.625rem;
  font-weight: bold;
  padding: 0;
  border-radius: $borderRadius;

  &:hover,
  &:active {
    .h5p-category-task-delete-button {
      opacity: 1;
    }
  }

  .h5p-category-task-delete-button {
    border: 0;
    padding: 0;
    background-color: transparent;
    opacity: 0;
    cursor: pointer;

    .h5p-ri {
      border: 2px solid #e03c34;
      border-radius: 50%;
      position: absolute;
      top: -0.75rem;
      right: -0.75rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 1.875rem;
      width: 1.875rem;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      font-size: 0.7rem;
      color: #e03c34;
      z-index: 1;
      opacity: inherit;
    }
  }

  p,
  ul {
    margin: 0;
  }

  .h5p-category-task-argument-provided {
    display: flex;
    flex: auto;
  }

  & .h5p-category-task-element{
    display: flex;
    align-items: center;
  }

  & > :first-child {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    margin-bottom: 0.25rem;
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }
  & > :last-child {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}

.h5p-category-task-argument-container {
  padding: 0.25rem;
  border: 2px solid #dbe2e8;
  border-radius: $borderRadius;
  box-shadow: 3px 3px 4px 0 rgba(3, 3, 3, 0.05);
  position: relative;

  &:hover,
  &:active,
  &.h5p-category-task-active-draggable {
    cursor: pointer;
    box-shadow: 0 0 0.1875rem 0.125rem rgba(26,115,217,0.2);
    border-color: #1a73d9;
    .h5p-category-task-argument {
      background-color: #edf4fd;
    }
  }
}

.h5p-category-task-summary {

  display: flex;
  flex-flow: column;

  textarea {
    padding: 1rem;
    min-height: 5em;
  }
}

.h5p-category-task-description {
  flex-grow: 5;
  margin: 0 0.625rem 0.625rem 0;
  font-weight: 600;
}

.h5p-category-task-action {
  background-color: white;
  border-color: transparent;
  padding: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 100ms, color 100ms;

  &.h5p-category-task-action-active{
    background-color: black;
    color: white;
  }
}

.h5p-category-task-popover {
  @extend .h5p-category-task;
  z-index: 1;
  width: 95vw;
  overflow: visible !important;

  button {
    @extend .h5p-category-task-button;
  }
}

.h5p-category-task-popover-container {
  border-radius: 0.25rem;
  background-color: #ffffff;
  background-size: cover;
  box-shadow: 0.3125rem 0.625rem 1.4rem rgba(0,0,0,0.4);
  max-width: 95vw;

  .h5p-category-task-popover-header {
    padding: 0.875rem;
    border-bottom: 0.0625rem solid #dbe2e8;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .h5p-category-task-popover-content {
    display: flex;
  }

  .close-button {
    background: white;
    color: black;
    margin-left: auto;
    padding: 0;
    font-size: 180%;
  }

  textarea {
    font: inherit;
    width: 100%;
    margin: 0.875rem;
    border-radius: 0.25rem;
    padding: 0.3125rem;
  }
}

.h5p-category-task-drag-element {
  border-right: 0.0635rem solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8125rem;
  padding: 0 0.625rem;
  color: #535c69;
  font-size: 1.2rem;
}

.h5p-category-task-draggable-container {
  display: flex;
  align-items: stretch;
  margin: 0.8rem auto;
  position: relative;
}

.h5p-category-task-draggable-element,
.h5p-category-task-draggable-element > div {
  flex-grow: 1;
  display: flex;
}

.h5p-category-task-add {
  border: 1px solid #dbe2e8;
  border-radius: $borderRadius;
  display: inline-block;
  text-align: center;
  padding: 0.1875rem;
  background-color: #ffffff;

  &:hover {
    span {
      background-color: #ffffff;
    }
  }

  &:active {
    span {
      background-color: #ebf0ff;
    }
  }

  & > span {
    display: flex;
    border-radius: $borderRadius;
    background-color: rgba(219,226,232,0.25);
    color: #363636;
    font-weight: bold;
    font-size: 1em;
    padding: 0.3125rem 0.625rem;
  }

  .h5p-ri {
    margin-right: 0.5625rem;
  }
}

.h5p-category-task-editable-container {
  display: flex;
  flex: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3em 0.6em;

  label,
  div {
    width: 100%;
  }

  input {
    min-height: 80%;
    flex: auto;
    font-size: inherit;
    width: 100%;
  }
}

.h5p-category-task-footer {
  background-color: #1f1f1f;
  color: white;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;

  & > button {
    background-color: transparent;
    margin: 0.3125rem;
    font-weight: bold;
  }

  .h5p-ri {
    margin-right: 0.4375rem;
  }
}

.h5p-category-task-unprocessed .h5p-category-task-category-content {
  border-radius: $borderRadius;
}

.h5p-category-task-category-default {
  border-radius: $borderRadius;
  border: 2px solid #dbe2e8;
  padding: 1rem;

  .h5p-category-task-header-argument-add {
    display: none;
  }
}

.h5p-category-task-pro,
.h5p-category-task-against {
  .h5p-category-task-category-header {
    overflow: hidden;
    min-height: 2.5rem;
    padding-left: 3.75rem;
    display: flex;
    align-items: center;
    font-style: italic;
    text-decoration: none solid rgb(255, 255, 255);
    line-height: 1.5625rem;
    text-shadow: 2px 1px 3px rgba(28,28,28,0.5);
    border-radius: $borderRadius $borderRadius 0 0;

  }

  .h5p-category-task-header-argument-add {
    margin-left: auto;
    margin-right: 0.5rem;
    background: transparent;
    border: 0;
    color: inherit;
    display: flex;

    :not(.fa){
      display: none;
    }

    .fa {
      font-size: 1.6rem;
    }

  }

  .h5p-category-task-category-content {
    border: 2px solid #dbe2e8;
    border-radius: 0 0 $borderRadius $borderRadius;
    border-top: 0;
  }

  .h5p-category-task-column{
    padding: 1rem;
  }
}

.h5p-category-task-pro {
  .h5p-category-task-category-header {
    background-color: #54a169;
    color: #ffffff;
  }

  .h5p-category-task-header-icon {
    background-color: #5bb06e;
    border: 3px solid #74d690;
  }
}

.h5p-category-task-against {
  .h5p-category-task-category-header {
    background-color: #de5050;
    color: #ffffff;
  }

  .h5p-category-task-header-icon {
    background-color: #de5050;
    border: 3px solid #fa837d;

    img {
      transform: rotateX(180deg);
      filter: drop-shadow(2px -2px 2px rgba(0,0,0,0.2));
    }
  }
}

.h5p-category-task-actionmenu {
  z-index: 1;
  box-shadow: 0 11px 12px rgba(0,0,0,0.2);
  background-color: #ffffff;
  border: 2px solid #ffffff;
  min-width: 100%;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
}

.h5p-category-task-popover-actionmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  flex: auto;
}

.h5p-category-task-unprocessed {
  width: 100%;
  border: 2px solid #dbe2e8;
  border-radius: $borderRadius;
}

.h5p-category-task-unprocessed-argument-list {
  width: 100%;
}

.h5p-category-task-popover-actionmenu {
  flex: auto;

  label,
  .h5p-category-task-popover-actionmenu-delete {
    padding: 1rem 0.9rem;
    display: flex;
    overflow: hidden;
    align-items: center;
    &:hover {
      background-color: rgba(3,3,3,0.05);
    }
  }

  ul button {
    border: 0;
    background-color: transparent;
    padding: 0;
    display: flex;
    width: 100%;
  }

  li {
    width: 100%;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
  }

  li:last-child {
    border-bottom: 0;
  }

  .h5p-ri {
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }

  img {
    margin: 0;
    margin-right: 0.25rem;
  }

  .h5i-checked {
    color: #121212;
  }

  .h5p-category-task-popover-actionmenu-delete .h5p-category-task-popover-actionmenu-labeltext {
    color: #1a1616;
  }
}

.h5p-category-task-popover-actionmenu-labeltext {
  color: #757575;
  font-style: italic;

  span {
    color: #1a1616;
    font-weight: 600;
  }
}

.h5p-category-task-argument-actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 0.6rem;
  border: transparent;
  border-left: 1px solid rgba(83,92,105,0.3);
  color: #535c69;
  background-color: transparent;
}

.h5p-category-task-header-icon {
  border-radius: 50%;
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  box-shadow: 2px 2px 4px 1px rgba(3,3,3,0.2);

  img {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
  }
}

.h5p-ri {
  font-weight: normal;
}


.joubel-create-document {
  top: 0;
}

.export-container {
  button {
    float: right;
    cursor: pointer;
    padding: 0 1em !important;
    height: 100%;
    box-sizing: border-box;
    line-height: 3.5em;
    color: #555;
    font-family: Sans-Serif, sans-serif;
    font-size: 1em;
    background: none;
    border: 0;
    overflow: visible;
  }
}

.export-preview {
  .page-description {
    font-style: italic;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }

  .page-pro-arguments,
  .page-contra-arguments {

    th {
      text-align: start;
      color: #ffffff;
      border-collapse: collapse;
      font-size: 1.5rem;
      font-style: italic;
      padding: 0.6rem;
    }

    ul {
      list-style: none;
    }

    ul li::before {
      content: "\2022";
      font-weight: bold;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }
  }

  .page-pro-arguments {
    $proBorderColor: #54a169;
    border: 1px solid $proBorderColor;

    th {
      background-color: $proBorderColor;
    }

    tr {
      background-color: #d9ead3;
    }

    ul li::before {
      color: $proBorderColor;
    }
  }

  .page-contra-arguments {
    $contraBorderColor: #de5050;
    border: 1px solid $contraBorderColor;

    th {
      background-color: $contraBorderColor;
    }

    tr {
      background-color: #f4cccc;
    }

    ul li::before {
      color: $contraBorderColor;
    }
  }

  .page-resources {
    border: 1px solid rgba(0, 90, 255, 0.34);

    & tr:nth-child(even){
      background-color: rgba(176, 200, 236, 0.34);
    }

    th {
      text-align: start;
      background-color: rgba(45, 119, 193, 0.34);
      border-collapse: collapse;
    }
  }

  li {
    margin-left: 0.3125rem;
  }
}

.hidden {
  display: none !important;
}

.h5p-category-task-reset-modal {
  background-color: white;
  padding: 1rem;
  max-width: 85vw;
  display: inline-flex;
  flex-flow: column;

  div{
    padding: 0.8rem;
  }

  button {
    font-weight: 600;
    font-size: inherit;
  }

  .continue {
    @extend .h5p-category-task-button;
    color: #fff;
    background-color: #1f1f1f;
    margin-right: 1rem;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }

    &:focus {
      background-color: #000000;
    }
  }

  .cancel {
    border: 0;
    background-color: transparent;
    color: #2071e3;
  }
}

.h5p-category-task-no-transform {
  transform: none !important;
}


.h5p-category-task-category {
  margin-bottom: 0.7rem;
  position: relative;
}

.visible-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
